/* <style id="et-critical-inline-css"> */
.et_header_style_centered .mobile_nav .select_page,
.et_header_style_split .mobile_nav .select_page,
.et_nav_text_color_light #top-menu>li>a,
.et_nav_text_color_dark #top-menu>li>a,
#top-menu a,
.et_mobile_menu li a,
.et_nav_text_color_light .et_mobile_menu li a,
.et_nav_text_color_dark .et_mobile_menu li a,
#et_search_icon:before,
.et_search_form_container input,
span.et_close_search_field:after,
#et-top-navigation .et-cart-info {
  color: #20292f
}

.et_search_form_container input::-moz-placeholder {
  color: #20292f
}

.et_search_form_container input::-webkit-input-placeholder {
  color: #20292f
}

.et_search_form_container input:-ms-input-placeholder {
  color: #20292f
}

.et-cart-info span:before {
  content: "\e07a";
  margin-right: 10px;
  position: relative;
}

#top-menu li a {
  font-size: 15px
}

body.et_vertical_nav .container.et_search_form_container .et-search-form input {
  font-size: 15px !important
}

@media only screen and (min-width:981px) {

  .et-fixed-header #top-menu a,
  .et-fixed-header #et_search_icon:before,
  .et-fixed-header #et_top_search .et-search-form input,
  .et-fixed-header .et_search_form_container input,
  .et-fixed-header .et_close_search_field:after,
  .et-fixed-header #et-top-navigation .et-cart-info {
    color: #20292f !important
  }

  .et-fixed-header .et_search_form_container input::-moz-placeholder {
    color: #20292f !important
  }

  .et-fixed-header .et_search_form_container input::-webkit-input-placeholder {
    color: #20292f !important
  }

  .et-fixed-header .et_search_form_container input:-ms-input-placeholder {
    color: #20292f !important
  }
}

@media only screen and (min-width:1350px) {
  .et_pb_row {
    padding: 27px 0
  }

  .et_pb_section {
    padding: 54px 0
  }

  .single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper {
    padding-top: 81px
  }

  .et_pb_fullwidth_section {
    padding: 0
  }
}

#main-header,
#et-top-navigation {
  font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif
}

.et_divi_theme.et_fixed_nav.et_show_nav #page-container {
  padding-top: 64px
}

.et_divi_theme .title_container h1 {
  font-family: Poppins, sans-serif;
  float: left;
  font-size: 23px;
  color: #20292f;
  padding-top: 27px;
  font-weight: 600;
  padding-bottom: 0;
  transition: padding-top 0.3s linear
}

.et_divi_theme #et-top-navigation a {
  font-weight: 500 !important
}

.et_divi_theme #top-menu li.current-menu-item>a {
  font-weight: 600 !important;
  color: #20292f
}

.et_divi_theme #top-menu-nav>ul>li>a:hover {
  color: #71818c !important;
  opacity: 1
}

@media (min-width:981px) {
  .et_divi_theme.et_fullwidth_nav #main-header .container {
    padding-right: 40px;
    padding-left: 40px
  }
}

.et_divi_theme #main-header {
  box-shadow: 0 0 30px rgba(7, 51, 84, 0.17) !important
}

.et_divi_theme .et-fixed-header h1 {
  padding-top: 17px
}